name: Create Executable

on:
  workflow_dispatch:
    inputs:
      version:
        description: Version of magic-wormhole to build
      release-version:
        description: The version to use for release
      python-version:
        description: The version of python use in build
        default: "3.13"
      releaseExe:
        description: Should the release executable?
        type: boolean
        required: true
        default: true

jobs:
  create-executable:
    runs-on: windows-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ inputs.python-version }}

      - name: Check build
        id: check-build
        uses: ./.github/actions/build-environment
        with:
          version: ${{ inputs.version }}

      - name: Build executable
        run: |
          pip install pyinstaller magic-wormhole==${{ steps.check-build.outputs.version }}
          pyinstaller ./launcher.py -F -c --distpath=. --clean --onefile --additional-hooks-dir=hooks --name=wormhole

          $MD5_CHECKSUM=(Get-FileHash ./wormhole.exe -Algorithm MD5).Hash
          $SHA1_CHECKSUM=(Get-FileHash ./wormhole.exe -Algorithm SHA1).Hash
          $SHA256_CHECKSUM=(Get-FileHash ./wormhole.exe -Algorithm SHA256).Hash

          echo "MD5 $MD5_CHECKSUM wormhole.exe" >> wormhole.exe.checksum.txt
          echo "SHA1 $SHA1_CHECKSUM wormhole.exe" >> wormhole.exe.checksum.txt
          echo "SHA256 $SHA256_CHECKSUM wormhole.exe" >> wormhole.exe.checksum.txt

      - name: Test executable
        run: wormhole.exe --help

      - name: Upload executable artifact
        uses: actions/upload-artifact@v4
        with:
          name: wormhole
          path: wormhole.*

      - name: Create release
        uses: softprops/action-gh-release@v2
        if: ${{ inputs.releaseExe == 'true' }}
        with:
          name: ${{ inputs.release-version || steps.check-build.outputs.version }}
          tag_name: ${{ inputs.release-version || steps.check-build.outputs.version }}
          draft: false
          prerelease: false
          files: |
            ./wormhole.exe
            ./wormhole.exe.checksum.txt
