name: Release Chocolatey

on:
  workflow_dispatch:
    inputs:
      version:
        description: "Version of magic-wormhole to release"
  release:
    types: [released]

jobs:
  upload-chocolatey:
    runs-on: windows-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Get Release Info
        id: release-info
        uses: ./.github/actions/release-info
        with:
          version: ${{ inputs.version || github.event.release.tag_name }}

      - name: Setup Chocolatey directories
        uses: ./.github/actions/setup-chocolatey
        with:
          version: ${{ steps.release-info.outputs.version }}

      - name: Chocolatey pack
        working-directory: temp/magic-wormhole
        run: choco pack -v

      - name: Upload chocolatey folder
        uses: actions/upload-artifact@v4
        with:
          name: chocolatey
          path: temp/magic-wormhole

      - name: Chocolatey push
        working-directory: temp/magic-wormhole
        run: choco push -v --key=${{ secrets.CHOCOLATEY_API_KEY }} -s="https://push.chocolatey.org/"
